.Home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_header {
    color: black;
    margin-bottom: 5%;
}

.home_bt {
    background-color: #3acbf7;
    
    padding: 8px 20px;
    border: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;

    font-weight: 400;
    font-size: 15px;

    width: 100%;
}

.home_bt:hover  {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #fff;
    color: #6568f4;
    transition: 25ms;

}

