.Home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    

     /* ff 3.6+ */
     background:-moz-radial-gradient(circle at 100% 100%, rgba(150, 222, 255, 1) 8%, rgba(255, 255, 255, 1) 28%);

     /* safari 5.1+,chrome 10+ */
     background:-webkit-radial-gradient(circle at 100% 100%, rgba(150, 222, 255, 1) 8%, rgba(255, 255, 255, 1) 28%);
 
     /* opera 11.10+ */
     background:-o-radial-gradient(circle at 100% 100%, rgba(150, 222, 255, 1) 8%, rgba(255, 255, 255, 1) 28%);
 
     /* ie 10+ */
     background:-ms-radial-gradient(circle at 100% 100%, rgba(150, 222, 255, 1) 8%, rgba(255, 255, 255, 1) 28%);
 
     /* global 92%+ browsers support */
     background:radial-gradient(circle at 100% 100%, rgba(150, 222, 255, 1) 8%, rgba(255, 255, 255, 1) 28%);

}

.home_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_header {
    color: black;
    margin-bottom: 5%;
}

.home_bt {
    background-color: #3acbf7;
    
    padding: 8px 20px;
    border: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;

    font-weight: 400;
    font-size: 15px;

    width: 100%;
}

.home_bt:hover  {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #fff;
    color: #6568f4;
    transition: 25ms;

}

