.in{
    display: flex;
    justify-content: center;
    border-radius: 16px; 
    
}
.lo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    background: #fff;
    width: 1064px;
    height: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 16px; 
}
.login_img {
    border-radius: 16px;
}
p {
    margin-bottom: 5%;
}
.loginLeft {
    width: 50%;
    border-radius: 16px;
}

.loginRight {
    width: 50%;
    background: #FFFFFF;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.1);
    border-radius: 16px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.iplogin{
    width: 350px;
    height: 48px;
    left: 799px;
    top: 428px;

    border: 2px solid #6568f4;
    box-sizing: border-box;
    border-radius: 6px;

    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.015em;

    color: #858585;
}

.btlogin {
    width: 350px;
    height: 48px;
    left: 799px;
    top: 428px;

    background: #6568f4;
    border-radius: 6px;
}

@media screen and (max-width: 960px){
    .login{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        background: none;
        box-shadow: none;
        border-radius: none;
    }
    .loginLeft{
        display: none;
    }
    .loginRight {
        width: 100%;
        height: auto;
        background: none;
        box-shadow: none;
        border-radius: none;
        position: absolute;
        top: 15%;
    }
    .btlogin {
        width: 100px;
        height: 48px;

        background: #6568f4;
        border-radius: 6px;
        color: #fff;
    }
}

